body{
  background-color: #a7c1db;
  margin: 0vw 3vw;
  font-family: stevie-sans, sans-serif;
  font-size: 3rem;
  color:#0b2738;
}

h1{
  font-family: titling-gothic-fb, sans-serif;
  color:#0b2738;
  float:right;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 0px 0px;
  font-family: stevie-sans, sans-serif;
  font-size: 1em;
  color:#0b2738;
  cursor: pointer;
  display: inline-block;
}

span.poof{
  opacity:0;
}
span.poof:hover{
  opacity:100;
}

iframe{
  display:none;
  z-index: 1;
  position:absolute;
  width:200px;
  height:auto;
  border:none;
}

span.poof:hover + iframe{
   display: block;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display:inline-block;
  float: none;
}
.dot:nth-child(12n+1){
    background-color: #d64441;
}
.dot:nth-child(12n+4){
    background-color: #148248;
}
.dot:nth-child(12n+7){
    background-color: #eace28;
}
.dot:nth-child(12n+10){
    background-color: #dd873a;
}

.modal {
  font-family: stevie-sans, sans-serif;
  font-size: 0.5em;
  color:#0b2738;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

img{
  width:1200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #0b2738;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #0b2738;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #0b2738;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #0b2738;
  background-color: transparent;
  text-decoration: none;
}

/*p {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}*/
